@model WebTeknolojileriveProgramlama.Models.Ogrenci
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>@Model.Ad</h2>
<h2>@Model.Soyad</h2>
<h2>@Model.OgrenciNo</h2>


